
  .home-content {
    padding-top: 64px;
  }
  .section {
    position: relative;
    height: 500px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    background-size: cover;
    background-attachment: fixed; 
  }
  
  .button {
    margin-top: 20px; 
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0; 
  }
.intro-section{
  background-image: url('images.jpg');
}
  .section1 {
    background-image: url('photo-1464618663641-bbdd760ae84a.avif');
  }
  
  .section2 {
    background-image: url('photo-1464618663641-bbdd760ae84a.avif');
  }
  .section3 {
    background-image: url('photo-1464618663641-bbdd760ae84a.avif');
  }
  .section4 {
    background-image: url('photo-1464618663641-bbdd760ae84a.avif');
  }
  .section5 {
    background-image: url('photo-1464618663641-bbdd760ae84a.avif');
  }
  .typewriter-text {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    border-right: .15em solid orange; 
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end 1 forwards; 
  }
  
 
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
    51% { border-color: transparent }
  }
  .description-text {
    max-width: 300px;
    margin: 0 auto; 
    text-align: justify; 
    line-height: 1.5;
    word-wrap: break-word; 
    overflow-wrap: break-word;
    hyphens: auto;
  }